*.sw*
*~
*.pem
*.tpl.html
/server/config/local.coffee
/server/modules/*/dist
/server_js
/builds/
/dist/
/doc/routes.generated.txt
/logs/
/ops/terraform/.terraform
/scripts/run-*
/src/messenger-widget/dist
/src/my-referral/coverage
/src/my-referral/dist
/src/onelocal/coverage
/src/onelocal/dist
/src/quick-feedback/coverage
/src/quick-feedback/dist
/npm-debug.log
vendor/
node_modules/
outgoing_emails/
.DS_Store
.nyc_output
dump.rdb
gata-*.tgz
tsconfig.tsbuildinfo
/serverless/scrapper/yarn.lock
/serverless/scrapper/dist
/serverless/scrapper/.serverless
/serverless/scrapper/package.zip
/serverless/scrapper/.local-chromium
/serverless/scrapper/local-chromium.tar.gz
/test/e2e/cypress/helpers/local*
/test/e2e/cypress/helpers/admin_panel
/test/e2e/cypress/config/*.env
